:root{
    --clr-primary: #521C0D;
    --clr-primary-hover: hwb(13 10% 41%);
    --clr-secondary: #B17B40;
    --clr-background: #fff;
    --clr-foregorund:#cbcbcb;
    --clr-text: #000;
    --clr-subtext: #313131;
    --clr-stone: #898989;
    --clr-ocean-blue: #0089B5;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    list-style: none;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/font/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--clr-text);
  background-color: var(--clr-background);
}

.no-select {
  user-select: none;
}
.clr-primary{
  color: var(--clr-primary);
}
.clr-secan{
    color: var(--clr-secondary);
}
.clr-ocn-blue{
    color: var(--clr-ocean-blue);
}

.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s .2s  ease-out forwards;
}


.notif-sukses {
    width: 100%;
    background-color: rgba(68, 173, 71, 0.472); /* hijau */
    color: #000;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    border: 1px solid green;
    box-sizing: border-box;
}

.notif-gagal {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.35); /* merah transparan */
    color: #000;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    border: 1px solid red;
    box-sizing: border-box;
}

/* main & nav */


@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}