:root{
    --clr-primary: #521C0D;
    --clr-primary-hover: hwb(13 10% 41%);
    --clr-secondary: #B17B40;
    --clr-backgroud: #fff;
    --clr-text: #000;
    --clr-subtext: #313131;
    --clr-stone: #898989;
    --clr-ocean-blue: #0089B5;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/font/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--clr-text);
  background-color: var(--clr-backgroud);
}

.no-select {
  user-select: none;
}

.clr-secan{
    color: var(--clr-secondary);
}
.clr-ocn-blue{
    color: var(--clr-ocean-blue);
}

.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s .2s  ease-out forwards;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}